.body {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: #ECF0F3;
}

.body-box {
  width: 80%;
  margin: auto;
  padding: 25px 10px;
  background-color: #ECF0F3;
  /* height: 100vh; */
}

/* table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ff014d17;
}

@media only screen and (max-width: 1000px) {

  .body-box,
  .body {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .body-box {
    width: 100%;
  }
}